<h1>Listing age_ranges</h1>

<table>
  <thead>
    <tr>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @age_ranges.each do |age_range| %>
      <tr>
        <td><%= age_range.age %></td>
        <td><%= link_to 'Show', age_range %></td>
        <td><%= link_to 'Edit', edit_age_range_path(age_range) %></td>
        <td><%= link_to 'Destroy', age_range, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Age range', new_age_range_path %>
