
<div class="row">
	<div class="col-md-6">
		<div class="center">
			<h1>Profile</h1>
		</div>
		<div class="thumbnail">
			<%= image_tag @user.image.url %><br>
			<div class="center">
				<strong><%= "Üye:  #{@user.name}" %></strong>
			</div>
		</div>
		<h4><em><strong>Üye Hakkındaki Yorumlar</strong></em></h4><br>
			<% if @reviews.blank? %>
			  	 <h4>Henüz kullanıcı hakkında yorum yok.</h4>
			<% else %>
			 	  <% @reviews.each do |review| %>
				  <p><%= review.rating %></p>
				  <p><%= review.comment %></p>
			<% end %>
			   <% end %>
			<%= link_to "Yorum Ekle", new_user_review_path(@user), class: "btn btn-primary" %>
	</div>


	<div class="col-md-6">
		<div class="center">
		<h1>Satılan Ürünler</h1>
		</div>
		<table class= "table table-striped table-bordered">
			<tr>
				<th class="center">Resim</th>
				<th class="center">Ürün</th>
				<th class="center">Fiyat</th>
			</tr>

			<% @listings.each do |listing| %>
			<tr>
				<td class="center"><%= image_tag listing.image.url(:thumb) %></td>
				<td class="center"><%= listing.name %></td>
				<td class="center"><%= number_to_currency(listing.price) %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>