
<div class="row">
	<div class="col-md-6">
		<div class="center">
			<h1>Üye Profili</h1>
		</div>
		<div class="thumbnail">
			<%= image_tag @user.image.url %><br>
			<div class="center">
				<strong><p><%= "Üye:  #{@user.name.titleize}" %></p></strong>
				<div class="star-rating" data-score= <%= @avg_rating %> ></div>
				<%= "#{@reviews.size } toplam yorum" %>
			</div>
		</div>
		<h4><em><strong>Üye Hakkındaki Yorumlar</strong></em></h4><br>
			<% if @reviews.blank? %>
			  	 <h4>Henüz kullanıcı hakkında yorum yok.</h4>
			<% else %>
				<table class="table">
					<thead>
						<tr>
							<th class="col-md-3"></th>
							<th class="col-md-9"></th>
						</tr>
					</thead>	
					<tbody>
						<% @reviews.each do |review| %>
						<tr>
							 <td>
								<h4>
									<%= "#{review.author.name.split(' ').first}" %>
								</h4>
									<p><%= review.created_at.strftime("%d-%m-%y") %></p>
							 </td>
							<td>
								 <div class="star-rating" data-score= <%= review.rating %> ></div>
								  <p><%= h(review.comment).gsub(/\n/, '<br>').html_safe %></p>
								  <% if (review.author == current_user) || (current_user.admin?) %>
								  <%= link_to "Ekle", edit_user_review_path(@user, review) %>
								  <%= link_to "Sil", user_review_path(@user, review), method: :delete %>
								  <% end %>
							</td>
						</tr>
					   <% end %>
					</tbody>
				</table>			
			   <% end %>
			<%= link_to "Yorum Ekle", new_user_review_path(@user), class: "btn btn-primary" %>
	</div>


	<div class="col-md-6">
		<div class="center">
		<h1><%= "#{@user.name.titleize } Listesi"  %></h1>
		</div>
		<table class= "table table-striped table-bordered">
			<tr>
				<th class="center">Resim</th>
				<th class="center">Ürün</th>
				<th class="center">Fiyat</th>
			</tr>

			<% @listings.each do |listing| %>
			<tr>
				<td class="center"><%= image_tag listing.image.url(:thumb) %></td>
				<td class="center"><%= listing.name %></td>
				<td class="center"><%= number_to_currency(listing.price) %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>

<script>
$('.star-rating').raty({
	path: 'https://s3.amazonaws.com/karlibebek/stars',
	 readOnly: true,
	 score: function() {
       return $(this).attr('data-score');
  }
});
</script>
